/*===========================================================================
   Resource File

   Dominik Deak
  ===========================================================================*/

#ifndef ___RESOURCE_RC___
#define ___RESOURCE_RC___


/*---------------------------------------------------------------------------
   Icons and bitmaps
  ---------------------------------------------------------------------------*/
IDI_ICON1 ICON DISCARDABLE "logo.ico"


//==== End of file ===========================================================
#endif
